/* 전체 화면 중앙 정렬 */
.delete-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    width: 393px;
    height: 852px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
  }
  
  /* 닫기 버튼 */
  .close-button {
    position: absolute;
    top: 45px;
    right: 25px;
    background: none;
    border: none;
    font-size: 30px;
    color: #422919;
    cursor: pointer;
  }
  
  /* 로고 및 제목 */
  .delete-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .delete-title {
    font-size: 40px;
    font-weight: 800;
    color: #422919;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .delete-icon img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  
  .delete-subtitle {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #745d4c;
    margin-bottom: 0px;
  }
  
  .delete-description {
    font-size: 11px;
    font-weight: 400;
    color: #745d4c;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  
  .text-input-container {
    margin-bottom: 0px;
  }
  
  