.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 999;
  }
  
.side-menu {
    position: fixed;
    width: 210px;
    height: 100vh; 
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: auto;
    z-index: 1000;
    left: 50%;
  }
  
  .side-menu-header {
    margin-top:80px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 0.5px solid #a69180;
  }
  
  .profile-picture {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    background: #f5f4ee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .profile-picture img {
    width: 25px;
    height: 25px;
  }
  
  .profile-icon {
    width: 25px;
    height: 25px;
  }
  
  .profile-info {
    margin-left: 15px;
    text-align: left;
  }
  
  .profile-name {
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 5px;
    color: #422919;
  }
  
  .profile-edit {
    font-size: 11px;
    font-weight: 600;
    color: #a69180;
    margin-bottom : 25px;
  }
  
  .side-menu-body {
    padding: 20px 0;
  }
 