.cafe-info-box {
    position: absolute;
    bottom: 60px; /* BottomBar 위 15px 여유 */
    left: 50%;
    transform: translateX(-50%);
    width: 353px;
    height: 198px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .label {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7); /* 반투명한 하얀색 배경 */
    padding: 5px 10px;
    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  }