.cafe-information {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 그룹 간 간격 */
    padding: 20px;;
  }
  
  .cafe-information__group {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .cafe-information__header {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .cafe-information__icon {
    width: 20px;
    height: 20px;
  }
  
  .cafe-information__options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 옵션 간 간격 */
  }
  
  .cafe-information__group h4 {
    font-size: 13px;
    color: #422919;
    margin: 0; 
  }