.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .tag-filter {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 393px;
    height: 500px;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
  }
  
  .tag-filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
  
  .tag-filter-title {
    font-size: 20px;
    font-weight: bold;
    color: #5d4536;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
  .tag-filter-content {
    flex: 1;
    overflow-y: auto; 
    padding: 10px;
  }

  .tag-group {
    margin-bottom: 30px;
  }
  
  .tag-group h4 {
    font-size: 16px;
    color: #422919;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .tag-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .tag-button {
    background-color: #fff;
    border: 1px solid #422919;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    color: #422919;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tag-button.selected {
    background-color: #cec2b2;
    border: 1px solid #a58973;
  }
  
  /* 푸터 */
  .tag-filter-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  
  .footer-button {
    background-color: #d3b8a3;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }