body {
  padding-bottom: 80px;
  /* BottomNavBar 높이만큼 패딩 추가 */
}

.bottom-nav-bar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 393px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #CEC2B2;
  z-index: 1000;
}

.nav-item {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-item img {
  position: fixed;
  width: 25px;
  height: 25px;
  object-fit: contain;
  top: 10px;
}