.cafe-popup-overlay {
    position: fixed;
    left: 0;
    top: 200px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.cafe-popup-container {
    background-color: white;
    border-radius: 25px;
    padding: 20px 20px 10px;
    width: 320px;
    height: 150px;
    text-align: left; /* Align the content to the left */
    border: 1px solid #A69180;
}

.cafe-popup-box {
    display: flex; /* Use flexbox to arrange the image and content side by side */
    align-items: center; /* Vertically align the items */
}


.cafe-popup-image img {
    width: 75px;
    height: 75px;
}

.cafe-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; /* Left-align the text content */
    padding-inline: 20px;
}
.search-result {
    margin-top: 5px;
        display: flex;
    flex-direction: column;  /* 세로 방향으로 정렬 */
    gap: 5px;  /* 항목 간의 간격 */
}

.search-result .cafe-name {
    font-size: 13px;
    font-weight: bold;
    color: #422919;
}

.search-result .cafe-address {
    font-size: 10px;
    color: #A69180;
}

.view-details {
    font-size: 11px;
    color: #A69180;
    margin-top: 5px;
    cursor: pointer; /* Optional: to indicate it's clickable */
}
