.button-container {
  margin: 10px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.map-cafe-icon {
  width: 15px;
  height: 15px;
}

.label {
  width: fit-content;
  height: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #422919;
}

/* 기본 상태 스타일 */
.button-container.default {
  width: fit-content;
  height: 32px;
}

/* 클릭 상태 스타일 */
.button-container.clicked {
  width: 81px;
  height: 42px;
}

.map-cafe-icon.clicked {
  width: 25px;
  /* 클릭 시 이미지 크기 25px로 증가 */
  height: 25px;
}

.label.clicked {
  width: fit-content;
}

/* 모달 배경 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.168);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모달 내용 */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* 모달 닫기 버튼 */
button {
  padding: 10px;
  background-color: #422919;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}