/* 기본 상태 (default) */
.short-button-container {
  width: 112px;
  /* ShortButton의 너비 */
  height: 42px;
  /* ShortButton의 높이 */
  margin: auto;
  padding: 10px;
}

.short-button {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  /* 기본 배경색 */
  border-radius: 10px;
  /* 둥근 모서리 */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  /* 테두리 제거 */
}

.short-button-text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #2B2B2B;
  /* 기본 텍스트 색 */
}

/* 눌림 상태 (pressed) */
.short-button.pressed {
  background: #CEC2B2;
  /* 눌림 상태의 배경색 */
}

.short-button.pressed .short-button-text {
  font-weight: 600;
  /* 눌림 상태에서 글씨 두께 */
  color: #2B2B2B;
  /* 텍스트 색 */
}