.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .tag-filter {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 333px;
    height: 500px;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
  }
  
  .tag-filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
  
  .tag-filter-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #422919;
  }
  
  .tag-filter-close-button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #422919;
  }
  
  .tag-filter-content {
    flex: 1;
    overflow-y: auto; 
    padding: 10px;
  }

  .tag-filter-group {
    margin-bottom: 30px;

  }
  
  .tag-filter-group h4 {
    font-size: 16px;
    color: #422919;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .tag-filter-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  

  /* 푸터 */
  .tag-filter-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    gap: 15px;
  }
