/* TagGroup */
.tag-group {
    display: flex;
    flex-direction: column;
    gap: 8px; /* 행 간 간격 */
    padding-top: 10px;
    padding-left: 5px;
    width: 100%;
  }
  
  .tag-group-row {
    display: flex;
    flex-direction: row;
    gap: 8px; /* 태그 간 간격 */
  }
  
  .tag-group-item {
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 0 0.5px #422919; /* Border 대신 얇은 박스 그림자 사용 */
    border-radius: 30px;
    padding: 3px 8px; /* 아이콘과 텍스트 간 여백 */
    gap: 6px; 
  }
  
  .tag-group-icon {
    width: 10px;
    height: 10px;
  }
  
  .tag-group-text {
    font-size: 10px;
    color: #422919;
  }