.top-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 393px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  z-index: 900;
}

.top-bar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1050;
}

.subtitle{
  position: absolute;
  top: 85px;
  left: 30px;
  font-size: 15px;
  font-weight: 700;
  color: #422919;
}


.title {
  position: absolute;
  left: 19px;
  top: 49px;
  font-size: 21px;
  font-weight: bold;
  color: #422919;
}

.hamburger-button {
  position: absolute;
  right: 19px;
  top: 48px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.hamburger-menu {
  width: 24px;
  height: 24px;
}

.close-button {
  position: absolute;
  top: 48px;
  right: 19px;
  background: none;
  border: none;
  padding: 0;
  font-size: 30px;
  color: #422919;
  cursor: pointer;
}

/* 검색 및 필터 스타일 */
.search-filter {
  position: absolute;
  bottom: 20px;
  left: 26px;
  /* x 좌표 고정 */
  top: 87px;
  /* y 좌표 고정 */
  right: 19px;
  display: flex;
  gap: 10px;
  width: 340px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

/* 검색 입력 스타일 */
.search-input {
  position: relative;
  flex: 1;
  height: 36px;
  padding: 0 10px;
  border: 0.5px solid #422919;
  border-radius: 10px;
  font-size: 14px;
}

/* 검색 버튼 스타일 */
.search-button {
  position: absolute;
  top:auto;
  /* y 좌표 */
  right: 4px;
  /* x 좌표 */
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 20px;
  /* 버튼 이미지 크기 조정 */
  height: 20px;
}

/* 검색 입력 필드가 포커스될 때 아래 보더 스타일 변경 */
.search-input:focus {
  outline: none;
  /* 기본 outline 제거 */
  border: none;
  /* 기존 보더 제거 */
  border: 2px solid #A69180;
}

/* 사이드메뉴 스타일 */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  /* 오른쪽에서 시작 */
  width: 250px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  /* 그림자 방향 변경 */
  padding: 20px;
  box-sizing: border-box;
  z-index: 1100;
  animation: slideIn 0.3s forwards;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu li {
  margin: 15px 0;
  font-size: 18px;
  cursor: pointer;
}

/* 오른쪽에서 나오는 슬라이드 애니메이션 */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    /* 오른쪽 밖에서 시작 */
  }

  to {
    transform: translateX(0);
  }
}

.tag-select-group {
  position: relative;
  display: flex;
  top: 65px;
  overflow-x: auto; /* 가로 스크롤 */
  gap: 7px;
  white-space: nowrap; /* 태그가 줄바꿈되지 않도록 설정 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE 및 Edge에서 스크롤바 숨기기 */
  padding: 20px;
}

.tag-select-group::-webkit-scrollbar {
  display: none; /* Chrome, Safari에서 스크롤바 숨기기 */
}
