.visit-status {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.visit-status-image {
    width: 24px;
    height: 24px;
}

.visit-status-container {
    display: flex;
    justify-content: center;
    align-items: center;
}