.cafe-detail-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 393px;
    height: 100vh;
    margin: 0 auto;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 120px;
    position: relative;
}


.cafe-detail-divider {
    border-top: 1px solid #E3E3E3;
    max-width: 393px;
    margin: 16px auto;
    width: 92%;
}

.cafe-detail-header {
    display: flex;
    width: inherit;
    max-width: 393px;
    justify-content: space-between;
    padding: 0 12px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 14px;
}

.cafe-detail-back-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 10;
}

.cafe-detail-back-button img {
    width: 24px;
    height: 24px;
}

.cafe-detail-name {
    font-weight: 600;
    font-size: 15px;
    color: #2B2B2B;
    margin-bottom: 4px;
}

.cafe-detail-address {
    font-weight: 600;
    font-size: 11px;
    color: #A9A9A9;
}

.cafe-detail-header-text {
    margin: 10px 0px;
}

.cafe-info-title {
    font-size: 12px;
    font-weight: 600;
    color: #2B2B2B;
    padding: 0 12px;
}

.cafe-detail-tabs {
    margin-left: 10px;
}

.cafe-detail-tab {
    font-size: 13px;
    font-weight: 700;
    color: #422919;
    border: none;
    border-radius: 0;
    background: #ffffff;
    cursor: pointer;
    position: relative;
}

.cafe-detail-tab.active {
    border-bottom: 2px solid #422919;
    color: #422919;
}

.cafe-detail-info-text {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.cafe-detail-info-text img {
    width: 13px;
    height: 13px;
    margin-right: 8px;
    vertical-align: middle;
}

.cafe-detail-review-header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.cafe-detail-info-text a {
    color: #2B2B2B;
}

.cafe-detail-review-rating {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.cafe-detail-review-star{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}


.cafe-detail-review-score{
    font-size: 10px;
    color: #2B2B2B;
    font-weight: 900;

}

.cafe-detail-review-text{
    font-size: 8px;
    color: #A9A9A9;

}

.cafe-detail-review-write-btn {
    background-color: #fff;
    border: 1px solid #422919;
    border-radius: 20px;
    text-align: center;
    padding: 8px 8px 8px 8px;
    font-size: 10px;
    cursor: pointer;
    color: #422919;
    display: flex;     
    justify-content: center; 
    align-items: center; 
    width: 55px;
    height: 23px;
}